.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #9CCE6D;
    border-radius: 4px;
    background: #9CCE6D;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: .25rem 0 ; 
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background-color:white;
    border-color:#9CCE6D;
   color:#9CCE6D;
  }
  
  .button--inverse {
    background: transparent;
    color: #9CCE6D;
    border-color:#9CCE6D;
  }
  
  .button--inverse :hover,
  .button--inverse:active {
    
    background: #9CCE6D;
    color: white;
    border-color:white;

  }
  
  .button--danger {
    background: red;
    color:white;
  }
  
  .button--danger:hover,
  .button--danger:active {
    background: red;
    color:red;
    
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }