.form-control--invalid{
  width:inherit;
}
.form-control--invalid label,
.form-control--invalid p {
  color: red;
  
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;

}
.form-control--invalid p{
  margin:0 0 .25rem 0 ;
  font-size: 12px;

}
