h1{
    text-align: center;
}
.news-item{
    list-style: none;
    padding:2%;
    background-color:white;
    border-radius: 4px;
    margin: 1rem 1rem;
}
.news-item h2{
    color:#63a583 ;
    text-align: left;
    font-size:1.5rem;
    margin:1rem 0;
}
.date-news{
    font-size:.5rem;
    margin-top:-.5rem;
}
hr{
    margin-top:10px;
    border:1px solid #63a583;
    width:50%;
    background-color: #63a583;

}
.body-news{
    font-size: 1rem;
    padding-top:.5rem;
}
@media (max-width:768px){
    .header-photo-container{
        height:30vh;
    }
}
