.row-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    

}
.dashboard-login  {
    max-width: 25rem;
    max-height:max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background:white;
    border-radius: 4px;
    padding: 1rem;
    overflow: hidden;
    margin:0 1rem;
}


input{
    padding:.5rem;
    border-radius:4px;
    border: 1.5px solid grey;
    width:100%;
}


.current-news{
    max-width: 25rem;
    max-height: max-content;
    width: 100%;
}
.header-photo{
    background:  url('../../../src/images/david-sola-3guU1kCxxy0-unsplash.jpg');
    border-radius: 4px;
    height:100%;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit:cover;
  
    
}
.header-photo-container{
    height:60vh;
    padding: .5rem;
    
}
.header-photo h2{
    color:#63a583;
    font-size: 6vw;
    padding-top:5%;
    text-align: center;
    margin-top:0;
    font-weight:300;

    
    
}
.welcome-msg{
    color:#63a583;
    width:100%;
    text-align:right;
    padding-right:5px;
    padding-bottom: 5px;
}
.news-background{
    background-color: #f3f2f2;
    padding-top: 1rem;
    height:100%;
}
/* @media (max-width: 320px) {
    .header-photo-container{
        height:30vh;
    }
  } */
  @media (max-width:768px){
    .header-photo-container{
        height:30vh;
    }
}
@media (max-width:1600px){
    .news-background{
        margin-bottom: 25px;
    }
}