.main-navigation_hamburger{
width: 3rem;
height:3rem;
background:transparent;
display:flex;
flex-direction: column;
border:none;
justify-content: space-around;
margin-right:2rem;
cursor: pointer;
}
.main-navigation_hamburger span{
    display:block;
    width: 3rem;
    height: 2.5px;
    background:#63a583;
}
.main-navigation_link a {
    text-decoration: none;
    color: #63a583;
  }
  .main-navigation_link img{
    width:200px;
    height:auto;
    object-fit: contain;
  }
  .main-navigation__header{
    display:none;
}
.main-navigation_sidedrawer_nav{
    height:100%;
}
@media (min-width:768px){
    .main-navigation_hamburger{
        display:none;
    }
    .main-navigation__header{
        display:block;
    }
}