.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-links li{
    margin: 1rem;
}
.nav-links a{
    text-decoration: none;
    color:#e4dbd9;
    border: 1px solid transparent;
    padding:.05rem;
    
}
.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
    
    border-bottom: 2px solid #e4dbd9;
}
.nav-links button {
    cursor: pointer;
    border: 1px solid #e4dbd9;
    color: #e4dbd9;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
  }
  
  .nav-links button:focus {
    outline: none;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: #292929;
    color: #a4a4a4;
  }
  

@media (min-width:768px){
    .nav-links{
        flex-direction:row;
        }
    
    .nav-links button {
        border: 1px solid #e4dbd9;
        color: #e4dbd9;
        background: transparent;
        }
          
    .nav-links button:hover,
    .nav-links button:active {
        background: #e4dbd9;
        color: #63a583;
        border:#63a583
        }
       

}