.side-drawer{
    position:fixed;
    z-index: 100;
    top:0;
    left:0;
    width:70%;
    height:100vh;
    background: linear-gradient(#92B0BE,#A3BDCA);
    box-shadow:0 2px 8px rgba(0,0,0,.26);
}