.modal {
    z-index: 100;
    position: fixed;
    top: 22vh;
    left: 10%;
    width: 100%;
    background: white;
    box-shadow: 0 2px 8px #00000042;
    border-radius: 8px;
    
  }
  
  .modal__header {
    width: 100%;
    padding: 1rem 0.5rem;
    background-color: #63a583 ;
    color: #a4a4a4;
    border-radius: 8px 8px 0 0 ;
  }
  
  .modal__header h2 {
    margin: 0.5rem;
    color: white;
  }
  
  .modal__content {
    padding: 1rem 0.5rem;
  }
  
  .modal__footer {
    padding: 1rem .5rem;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
  
  .modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }
  
  .modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }
  
  .modal-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }
  