.spinner-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.274);
  }
  .spinner{
    width:64px;
    height:64px;
    border-radius:50%;
    border: 5px solid #510077;
    border-color: #63a583 transparent #63a583 transparent;
    animation: spinner 1.2s linear infinite;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }