.repo-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.specific-repo-container{
margin:1rem;
padding:1rem;
background-color: rgb(185, 184, 184);
}
h2{
    text-align: center;
}