.repo-container{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.specific-repo-container{
background-color: #f3efef;
border-radius: 4px;
width:100%;
max-width: 19rem;

margin:.5rem;
}
h2{
    text-align: center;
    color:#63a583;
}
.repo-img{
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius: 4px 4px 0 0 ;
}
.repo-details{
    padding:15px;
    font-size: 12px;
    
}

.repo-title{
    text-align: center;
}
.doc-upload-container{
    padding:2rem 0;
}
.update-news-container{
    width:100%;
}