.repo {
    z-index: 100;
    position: fixed;
    top: 22vh;
    left: 10%;
    width: 100%;
    background: white;
    box-shadow: 0 2px 8px #00000042;
    border-radius: 8px;
    
  }
  .repo-enter {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  .repo-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 200ms;
  }
  
  .repo-exit {
    transform: translateX(0%);
  opacity: 1;
  }
  
  .repo-exit-active {
    transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
  }

  .radio-buts-repo{
    margin:.5rem 0;
  }
  .update-news-container{
    width: 100%;
  }
  .repo-container-but{
    margin:.25rem 2px;
  }
  .add-news-container{
    width:100%;
    margin-bottom:.5rem;
  }