.ind-profile{
    display:flex;
    margin:2% auto;
    background-color:#a4a4a4;
    border-radius: 4px;
    justify-content: flex-start;
    align-items: center;
    width:50%;
    
    
}
.leftsideprofile{
    display:flex;
    flex-direction: column;
    width:25%;
    height:100%;
    margin:0 1rem;
    padding: 2%;
    align-items:stretch;
    padding:2.5% 0;
    align-items:center;
}
.leftsideprofile a:hover{
    color:#395a6f;
}
.leftsideprofile a:hover{
    color:#395a6f;
}
.leftsideprofile a:hover{
    color:#395a6f;
}
.profile-pic{
    width: 100px;
    height:100px;
    border-radius: 50%;
    object-fit:cover;
    display:block;
}
.rightsideprofile{
   width:75%;
   margin:0 1rem;
   font-size: smaller;
}
.h2-profile{
    margin:0;
    color:#395a6f;
}