@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
#root{
  min-height: 100vh; 
 overflow: hidden;
 display: block;
 position: relative;

 padding-bottom: 75px; 
}
html,body {
  font-family: 'Open Sans', sans-serif;
  background:#dfdfdf;
  height: 100%;
  position: relative;
  font-size: 13px;
  color:#838181;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-column{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  margin-bottom:0.5rem;
}
input:focus {
  outline: none !important;
  border:1px solid #63a583;
  box-shadow: 0 0 5px #63a583;
}
textarea:focus {
  outline: none !important;
  border:1px solid #63a583;
  box-shadow: 0 0 5px #63a583;
}
.row-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  

}
textarea{
  width:100%;
  border-radius: 4px;
  font-family: inherit;
  
}
.button-center{
  display: flex;
  justify-content: center;
}
.horizline
{
    border: .25px solid  #e7e7e7;
    background-color:  #c2c2c2;
    width:90%;
    margin-top:rem;
}
h1{
  color:#63a583;
  text-align: center;
  font-size: 3vw;
  margin:15px 0;
}