@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background:#e0e1e3;
}

body {
  margin: 0;
  height:100vh;
  
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  margin-bottom:0.5rem;
}
input:focus {
  outline: none !important;
  border:1px solid #395a6f;
  box-shadow: 0 0 5px #395a6f;
}
.column-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
textarea{
  width:100%;
  border-radius: 4px;
}